.about {
  letter-spacing: 0.055em;
  background-color: $color-gray-light;
  @extend %section;
}

.about__container {
  display: grid;
  @extend %container;
  @include lg-min {
    gap: $gap * 5;
    grid-template-columns: 1fr 271px;
  }
  @include lg-md {
    gap: $gap * 2;
    grid-template-columns: 1fr 271px;
  }
  @include md-sm {
    gap: $gap;
    grid-template-columns: 1fr 236px;
  }
  @include sm {
    gap: $gap;
    grid-template-columns: 1fr;
  }
}

.about__content p {
  font-size: 1.125rem;
}

h2 {
  letter-spacing: 0.1em;
  color: $color-primary;
  font-family: $font-header;
  line-height: 1.2em;

  @include lg-min {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 2.625rem;
    font-size: 2rem;
  }

  @include md-sm {
    margin-bottom: 2.25rem;
    font-size: 1.5rem;
  }

  @include sm {
    margin-bottom: 2.25rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
.posts h2,
.about h2 {
  margin-top: 0;
}

p {
  color: $color-gray;
}

.about__content p:first-of-type {
  position: relative;

  margin-top: -5px;
}

.about__content p:first-of-type::after {
  position: absolute;
  top: 0;
  width: 2px;
  height: 200px;
  content: "";
  background-color: rgba(99, 117, 136, 0.1);

  @include lg-min {
    right: -$gap * 2.5;
  }
  @include lg-md {
    right: -$gap;
  }
  @include md-sm {
    right: -$gap / 2;
  }
  @include sm {
    display: none;
  }
}

.about__content p:last-of-type {
  margin: 0;
}

img {
  border-style: none;
}

.about__image {
  display: grid;
  align-content: center;
  justify-items: center;
}

.about__image img {
  max-width: 100%;
  max-height: 480px;
}
